@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #ffffff;
}



/* For Index.html(Home/Upcoming Match) Page Starts*/




/* For To Banner Section */
.top-banner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inner-top-banner{
    width: 1321px;
    height: 646px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(30deg, #1a1b79, #aa154d);
    border-radius: 30px;
    margin: 50px 0;
    overflow: hidden;
    position: relative;
}

.inner-top-banner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.1);
    z-index: 1;
    transform-origin: top right;
    transform: scale(150%) rotateZ(-45deg);
    right: -335px;
    top: 300px;
    transition: 0.7s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.inner-top-banner:hover::before{
    right: 65px;
    top: -50px;
}

.football{
    position: absolute;
    bottom: 72px;
    right: 403px;
    z-index: 3;
    width: 150px;
    animation: ballAnimate 3s infinite;
    transform-origin: center;
}

@keyframes ballAnimate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.left-top-banner{
    width: 531px;
    margin-left: 106px;
    z-index: 2;
}

.left-top-banner > h2{
    font-size: 70px;
    font-weight: 700;
    color: #ffffff;
    line-height: 80px;
}

.left-top-banner > p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 506px;
    color: #ffffff;
    padding: 20px 0 50px 0;
}

.left-top-banner > a{
    text-decoration: none;
    color: #ffffff;
    padding: 16px 25px;
    border-radius: 5px;
    background-color: #DD0049;
    border: 3px solid #DD0049;
    transition: 0.3s all ease-in-out;
}

.left-top-banner > a:hover{
    background-color: #ffffff;
    color: #DD0049;
    box-shadow: 5px 15px 30px rgba(0,0,0,0.4);
    border-radius: 50px;
}

.left-top-banner > a > i{
    margin-left: 8px;
}

.right-top-banner{
    width: 581px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-right: 79px;
    z-index: 2;
}

.right-top-banner > img{
    width: 100%;
    margin-bottom: -34px;
}






/* For main Content Section */
.main-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-main-content{
    width: 1321px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

/* for left side menu */
.left-side-menu{
    width: 312px;
    background-color: #161616;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left-side-menu > ul{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-side-menu > ul > li{
    list-style: none;
    width: 100%;
}

.left-side-menu > ul > li > a{
    text-decoration: none;
    color: #000000;
    padding: 17px 35px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    display: block;
    margin-bottom: 30px;
    transition: 0.3s all ease-in-out;
}

.left-side-menu > ul > li:last-child > a{
    margin-bottom: 0;
}

.left-side-menu > ul > li > a:hover{
    background-color: #1a1b79;
    color: #ffffff;
}

.left-side-menu > ul > li > a.active-menu{
    background-color: #DD0049;
    color: #ffffff;
}

/* for right side contents */
.right-side-articales{
    width: calc(100% - 336px);
    margin-left: 24px;
}

.blog-contents,.upcomming-match{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.single-match{
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 53px 0;
}

.single-match > .match-vs{
    width: 252px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.match-vs > span{
    font-weight: 700;
    font-size: 16px;
    color: #161616;
}

.single-match > .match-info{
    width: 252px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.match-info > h4{
    font-weight: 600;
    font-size: 20px;
    color: #161616;
}

.match-info > p{
    font-weight: 400;
    font-size: 16px;
    color: #4D4D4D;
    padding: 10px 0 0 0;
}







/* for footer section */
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    background: #161616;
}

.inner-footer{
    width: 1320px;
    padding: 130px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-footer > h2{
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    line-height: 60px;
}

.inner-footer > hr{
    width: 100%;
    margin: 50px 0;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.inner-footer > .bottom-menu{
    width: 898px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.bottom-menu > li{
    list-style: none;
}

.bottom-menu > li > a{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #B9B9B9;
    transition: 0.3s all ease;
}

.bottom-menu > li > a:hover{
    color: #ffffff;
}

.inner-footer > .social{
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-top: 50px;
}

.social > li{
    list-style: none;
}

.social > li > a{
    color: #ffffff;
    text-decoration: none;
    font-size: 22px;
    background-color: #DD0049;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.social > li > a:hover{
    background-color: #ffffff;
    color: #DD0049;
    font-size: 18px;
    box-shadow: 2px 5px 25px #BF0978;
}



/* For Index.html(Home/Upcoming Match) Page Ends*/











/* For Blog.html(Blog Page) Page Starts */

.blog-contents > .single-blog{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #E8E8E8;
}

.single-blog > .top-image{
    width: 100%;
}

.top-image > img{
    width: 100%;
}

.single-blog > .bottom-info{
    padding: 20px;
}

.single-blog > .bottom-info > a{
    text-decoration: none;
    color: #161616;
    font-weight: 500;
    font-size: 16px;
    padding: 4px 16px;
    border: 1px solid #161616;
    border-radius: 5px;
}

.single-blog > .bottom-info > h2{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #161616;
    padding: 15px 0 20px 0;
}

.single-blog > .bottom-info > .bottom-info-stamp{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(22, 22, 22, 0.7);
}

.bottom-info-stamp > span > i{
    margin-right: 3px;
}

.bottom-info-stamp > .clock{
    margin-right: 20px;
}

.view-all{
    display: none;
}


/* For Blog.html(Blog Page) Page Ends */































/* -------------------------------------
        Responsive Breakpoints 
--------------------------------------*/

/* For TAB */
@media only screen and (min-width: 768px) and (max-width: 1023px){
    /* For To Banner Section */
    .inner-top-banner{
        width: calc(100% - 100px);
        margin: 50px;
        height: 398px;
    }

    .left-top-banner{
        width: 316px;
        margin-left: 76px;
    }

    .left-top-banner > h2{
        font-size: 40px;
        line-height: 50px;
    }

    .left-top-banner > p{
        width: 100%;
        font-size: 14px;
        line-height: 24px;
        padding: 0px 0 30px 0;
    }

    .left-top-banner > a{
        padding: 8px 12px;
        border: none;
        font-size: 14px;
        font-weight: 400;
    }

    .football{
        display: none;
    }

    .right-top-banner{
        width: 323px;
        margin-right: 17px;
    }

    .right-top-banner > img{
        margin-bottom: -70px;
    }


    /* for main content section */

    .inner-main-content {
        width: calc(100% - 100px);
        flex-direction: column;
    }

    .left-side-menu {
        width: 100%;
        background-color: #ffffff;
        display: block;
        margin-bottom: 30px;
    }

    .left-side-menu > ul{
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .left-side-menu > ul > li > a{
        margin-bottom: 0;
        margin-right: 24px;
        background-color: #ffffff;
        padding: 17px 0;
        font-weight: 500;
        font-size: 20px;
        border: 1px solid #E8E8E8;
        border-radius: 10px;
    }

    .left-side-menu > ul > li:last-child > a{
        margin-right: 0;
    }
     
    .left-side-menu > ul > li > a.active-menu{
        border: 1px solid #DD0049;
    }

    /* for right side contents */
    .right-side-articales{
        margin-left: 0;
        width: 100%;
    }

    .right-side-articales > .upcomming-match{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }




    /* for footer section */
    footer{
        margin-top: 70px;
    }

    .inner-footer{
        width: calc(100% - 100px);
        padding: 70px 0 55px 0;
    }

    .inner-footer > h2{
        font-size: 40px;
    }

    .inner-footer > hr{
        margin: 30px 0;
    }

    .bottom-menu{
        width: calc(100% - 100px) !important;
        flex-flow: row wrap;
        justify-content: center !important;
        align-items: center !important;
    }

    .bottom-menu > li > a{
        padding: 0 20px;
        line-height: 50px;
        font-size: 16px;
    }

    .social{
        margin-top: 30px !important;
    }








    /* For blog contents */
    .blog-contents{
        grid-template-columns: repeat(2, 1fr);
    }


    .view-all{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        margin-top: 50px;
    }

    .view-all > a{
        text-decoration: none;
        color: #ffffff;
        background-color: #DD0049;
        padding: 12px 29px;
        border-radius: 5px;
        font-weight: 400;
        font-size: 20px;
    }


}

/* FOR SMARTPHONES */
@media only screen and (max-width: 767px){
    /* For To Banner Section */
    .inner-top-banner{
        width: calc(100% - 40px);
        margin: 20px;
        height: 472px;
        flex-direction: column;
    }

    .inner-top-banner::before{
        display: none;
    }

    .left-top-banner{
        width: calc(100% - 76px);
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-top-banner > h2{
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        padding-top: 25px;
        width: 228px;
    }

    .left-top-banner > p{
        width: 100%;
        font-size: 14px;
        line-height: 24px;
        padding: 0px 0 20px 0;
        text-align: center;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 2.39em;
        line-height: 1.8em;
        
    }

    .left-top-banner > a{
        padding: 8px 12px;
        border: none;
        font-size: 14px;
        font-weight: 400;
    }

    .football{
        display: none;
    }

    .right-top-banner{
        width: 333px;
        margin: 0;
        margin-right: 38px;
        overflow: hidden;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .right-top-banner > img{
        margin: 0 !important;
        width: 78%;
    }





    /* for main content section */




    /* for main content section */

    .inner-main-content {
        width: 100%;
        flex-direction: column;
    }

    .left-side-menu {
        width: 100%;
        background-color: #ffffff;
        display: block;
        margin-bottom: 30px;
    }

    .left-side-menu > ul{
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .left-side-menu > ul > li{
        width: 100%;
        text-align: center;
    }

    .left-side-menu > ul > li > a{
        margin-bottom: 16px;
        margin-right: 0;
        display: inline-block;
        background-color: #ffffff;
        padding: 9px 18px;
        font-weight: 500;
        font-size: 20px;
        border: 1px solid #E8E8E8;
        border-radius: 10px;
    }

    .left-side-menu > ul > li:last-child > a{
        margin-bottom: 0;
    }
     
    .left-side-menu > ul > li > a.active-menu{
        border: 1px solid #DD0049;
    }









    /* for right side contents */
    .right-side-articales{
        margin-left: 0;
        width: 100%;
    }

    .right-side-articales > .upcomming-match{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    /* for footer section */
    footer{
        margin-top: 24px;
    }

    .inner-footer{
        width: 100%;
        padding: 24px 0 24px 0;
    }

    .inner-footer > h2{
        font-size: 22px;
        line-height: 33px;
    }

    .inner-footer > hr{
        margin: 24px 0;
        width: calc(100% - 40px);
    }

    .bottom-menu{
        width: calc(100% - 28px) !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important
    }

    .bottom-menu > li > a{
        padding: 0;
        margin: 15px 0;
        display: inline-block;
        font-size: 14px;
    }

    .social{
        margin-top: 20px !important;
        margin-bottom: 10px !important;
    }


    /* For blog contents */
    .blog-contents{
        grid-template-columns: repeat(1, 1fr);
        width: calc(100% - 40px);
        margin: 0 20px;
    }

    .top-image > img {
        width: 100%;
    }

    .view-all{
        display: none;
    }
    
}